p { margin: 0 }

.activity a {
    color: rgb(19, 103, 154);
    text-decoration: none;
    font-weight: normal;
}

code {
    color: #333333;
    border: 1px solid #cccccc;
    background-color: #f8f8f8;
    display: inline;
    margin: 0 0.1em;
    padding: 0 0.5em;
    line-height: 16px;
    text-align: left;
    vertical-align: middle;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 13px;
    font-weight: 600;
    direction: ltr;
    unicode-bidi: embed;
}

/* calendar overrides */
#calendar {
    font-family: Roboto, Arial, sans-serif;
}
@media only screen and (max-width: 600px) {

    #calendar .fc-month-view .fc-body .fc-title {
        font-size: .8em;
        font-weight: bold;
        line-height: 1.1;
    }

    #calendar .fc-month-view .fc-body .fc-time {
        display: none;
    }
}